<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<ul class="nav nav-tabs">
  <li data-toggle="modal" data-target="#myModal"><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>

  <li class=""><a href="<%= market_placemanage_orders_url %>?td_id=<%= params[:td_id] %>">Открытые </a></li>

  <li><a href="#">Закрытые </a></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Путевые листы <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu">


      <% WaybillsName.where(td_id: params[:td_id] , u_id: current_user.id).each do |p| %>
          <li><a href="<%= waybills_names_url %>/<%= p.id %>?td_id=<%= params[:td_id] %>"> <%= p.name %> </a> </li>
      <% end %>

    </ul>


  </li>

</ul>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Новый путевой лист</h4>
      </div>
      <div class="modal-body">
        <% @waybills_name = WaybillsName.new %>
        <%= form_for @waybills_name, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="control-group">
              <%= f.label :Название, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :name, :class => 'text_field' %>
              </div>
            </div>

            <input type="hidden" value="<%= params[:td_id] %>" name="td_id">
            <div class="form-actions">
              <%= f.submit 'Создать путевой лист', :class => 'btn btn-primary' %>
            </div>
        <% end %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div id="ajax_container">
  <%
     waybill = WaybillsName.find(@waybill_id);
  %>
  <h3> <%= waybill.name %> </h3>
  <h5> Статус: <% if waybill.status == 0 %> Открыт <% end %> <% if waybill.status == 1 %> Закрыт <% end %> <% if waybill.status == 2 %> в исполнении <% end %> </h5>
  <form action="<%= waybills_names_url %>/add_auto_courier?waybill_id=<%= @waybill_id %>" class="button_to" data-remote="false" method="post">

    <select class="form-control" name="auto">
      <% if waybill.auto_id %>
          <option value="<%= Auto.where(id: waybill.auto_id , u_id: current_user.id).take.id %>"><%= Auto.where(id: waybill.auto_id , u_id: current_user.id).take.number %></option>
      <% else %>
          <option value="">Авто не добавлено</option>
      <% end %>

      <% Auto.where(td_id: params[:td_id] , u_id: current_user.id).each do |p| %>
          <option value="<%= p.id %>"><%= p.number %></option>
      <% end %>
    </select>

    <select class="form-control" name="courier">
      <% if waybill.courier_id %>
          <option value="<%= CouriersList.where(id: waybill.courier_id , u_id: current_user.id).take.id %>"><%= CouriersList.where(id: waybill.courier_id , u_id: current_user.id).take.name %> <%= CouriersList.find(waybill.courier_id).last_name %></option>
      <% else %>
          <option value="">Курьер не добавлен</option>
      <% end %>

      <% CouriersList.where(td_id: params[:td_id] , u_id: current_user.id).each do |p| %>
          <option value="<%= p.id %>"><%= p.name %> <%= p.last_name %></option>
      <% end %>
    </select>

        <input class="form-control" name="order_date" type="text" id="order_date" value="<%= WaybillsName.find(@waybill_id).order_date != nil ? WaybillsName.find(@waybill_id).order_date : '' %>">

    <input type="submit" value="Изменить"  class="btn btn-primary">

  </form>
  <%- model_class = Order -%>
  <div class="page-header">
    <h1>Заказы</h1>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Торговая_база) %></th>
      <th><%= model_class.human_attribute_name(:Магазин) %></th>
      <th><%= model_class.human_attribute_name(:Название_товара) %></th>
      <th><%= model_class.human_attribute_name(:Количество) %></th>
      <th><%= model_class.human_attribute_name(:Описание) %></th>
      <th><%= model_class.human_attribute_name(:Статус) %></th>
      <th><%= model_class.human_attribute_name(:Создан) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @relation.each do |rel|
      order = Order.find(rel.order_id) %>
        <tr id="<%= order.id %>col">
          <td><%= link_to order.id, order_path(order) %></td>
          <td><%= Marketplace.find(order.mp_id).name %></td>
          <td><%= Market.find(order.c_a_r_id).name %></td>
          <td><%= Item.find(order.item_id).name %></td>
          <td><%= order.count %></td>
          <td><%= order.description %></td>
          <td><% if order.status == 0 %>
                Не доставлен
            <% else  %>
                Доставлен
            <% end %></td>
          <td><%=l order.created_at %></td>

          <td>
            <form action="<%= waybills_names_url %>/remove_relation?id=<%= rel.id %>" class="button_to" data-remote="true" method="post">

              <div><input type="submit" value="Удалить" id="<%= order.id %>" onclick="document.getElementById(this.getAttribute('id')+'col').style.display='none'"  class="btn btn-primary"></div>
            </form>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <form action="<%= waybills_names_url %>/set_status" class="button_to"  method="post">
    <input type="hidden" name="waybill_id" value="<%= @waybill_id %>">
    <input type="hidden" name="status" value="2">
    <div><input type="submit" value="На исполнение"   class="btn btn-primary"></div>
  </form>
  <% if waybill.status != 1 %>
      <form action="<%= waybills_names_url %>/set_status" class="button_to"  method="post">
        <input type="hidden" name="waybill_id" value="<%= @waybill_id %>">
        <input type="hidden" name="status" value="1">
        <div><input type="submit" value="Закрыть"   class="btn btn-primary"></div>
      </form>
  <% else %>
      <form action="<%= waybills_names_url %>/set_status" class="button_to"  method="post">
        <input type="hidden" name="waybill_id" value="<%= @waybill_id %>">
        <input type="hidden" name="status" value="0">
        <div><input type="submit" value="Открыть"   class="btn btn-primary"></div>
      </form>
  <% end %>
</div>

<script type="text/javascript">
    $(function() {
        $( "#order_date" ).datepicker($.datepicker.regional[ "rus" ] );
    });
</script>

<div id="map" style="width:800px; height:600px"></div>

<script type="text/javascript">

    ymaps.ready(init);

    function init () {
        var myMap = new ymaps.Map("map", {
                    center: [54.83, 37.11],
                    zoom: 5
                }),
                myPlacemark = new ymaps.Placemark([55.907228, 31.260503], {
                    // Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
                    balloonContentHeader: "Балун метки",
                    balloonContentBody: "Содержимое <em>балуна</em> метки",
                    balloonContentFooter: "Подвал",
                    hintContent: "Хинт метки"
                });

        timer = setInterval(function() {
            $.ajax({
                type: "POST",
                url: "/waybills_names/get_courier_loc",
                data: { id: "1" }
            }).done(function( msg ) {
                        myMap.setCenter([55.907228, 31.260503]);

                        myMap.geoObjects.remove(myPlacemark);

                        myPlacemark = new ymaps.Placemark([55.907228, 31.260503], {
                            // Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
                            balloonContentHeader: "Курьер",
                            balloonContentBody: "Содержимое <em>балуна</em> метки",
                            balloonContentFooter: "Курьер",
                            hintContent: "Курьер"
                        });

                        myMap.geoObjects.add(myPlacemark);

                    });
        } , 500)




        // Открываем балун на карте (без привязки к геообъекту).


        // Показываем хинт на карте (без привязки к геообъекту).
        myMap.hint.show(myMap.getCenter(), "Содержимое хинта", {
            // Опция: задержка перед открытием.
            showTimeout: 1500
        });
    }

</script>

