<% if @relations  %>
    <h3>Торговые площадки</h3>
    <% @relations.each do |marketPlace| %>
        <% tp = Marketplace.find(marketPlace.tp_id) %>
        <a href="<%= public_tp_show_url%>?id=<%= tp.id %>&m_id=<%= params[:m_id] %>"> <div class="market_blocks"><h5 class="title"><%= tp.name %></h5><%= image_tag('biznes.jpg' , :class => 'icon') %> </div></a>

    <% end %>
<% end %>