<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:Торговая_база) %></th>
    <th><%= model_class.human_attribute_name(:Магазин) %></th>
    <th><%= model_class.human_attribute_name(:Название_товара) %></th>
    <th><%= model_class.human_attribute_name(:Количество) %></th>
    <th><%= model_class.human_attribute_name(:Описание) %></th>
    <th><%= model_class.human_attribute_name(:Статус) %></th>
    <th><%= model_class.human_attribute_name(:Создан) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= Marketplace.find(order.mp_id).name %></td>
        <td><%= Market.find(order.c_a_r_id).name %></td>
        <td><%= Item.find(order.item_id).name %></td>
        <td><%= order.count %></td>
        <td><%= order.description %></td>
        <td><% if order.status == 0 %>
              Не доставлен
          <% else  %>
              Доставлен
          <% end %></td>
        <td><%=l order.created_at %></td>
        <td>
      </tr>
  <% end %>
  </tbody>
</table>

