<form action="<%= market_manage_search_tp_url %>" method="GET">
  Название торговой базы <INPUT NAME="name">
  <input type="hidden" name="m_id" value="<%= params[:m_id] %>">

<INPUT TYPE=SUBMIT class="btn btn-primary" value="Найти">
</form>

<% if @marketPlaces  %>
    <h3>Торговые площадки</h3>
    <% @marketPlaces.each do |marketPlace| %>

        <a href="<%= public_tp_show_url%>?id=<%= marketPlace.id %>&m_id=<%= params[:m_id] %>"> <div class="market_blocks"><h5 class="title"><%= marketPlace.name %></h5><%= image_tag('biznes.jpg' , :class => 'icon') %> </div></a>

    <% end %>
<% end %>