<%- model_class = CardTradingPlatform -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:line) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:avatar_file_name) %></th>
      <th><%= model_class.human_attribute_name(:tp_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td><%= link_to @card_trading_platform.id, card_trading_platform_path(@card_trading_platform) %></td>
        <td><%= @card_trading_platform.country %></td>
        <td><%= @card_trading_platform.city %></td>
        <td><%= @card_trading_platform.line %></td>
        <td><%= @card_trading_platform.rating %></td>
        <td><%= image_tag(@card_trading_platform.avatar.url) %></td>
        <td><%= @card_trading_platform.tp_id %></td>
        <td><%= @card_trading_platform.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_card_trading_platform_path(@card_trading_platform), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      card_trading_platform_path(@card_trading_platform),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
   </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_card_trading_platform_path,
            :class => 'btn btn-primary' %>
