<%- model_class = CardTradingPlatform -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @card_trading_platform.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @card_trading_platform.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line) %>:</strong></dt>
  <dd><%= @card_trading_platform.line %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rating) %>:</strong></dt>
  <dd><%= @card_trading_platform.rating %></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar) %>:</strong></dt>
  <dd><%= image_tag( @card_trading_platform.avatar.url) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              card_trading_platforms_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_card_trading_platform_path(@card_trading_platform), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              card_trading_platform_path(@card_trading_platform),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
