<a href="<%= public_tp_show_url %>/<%= @marketPlace.id %>"> <div class="market_blocks"><h5 class="title"><%= @marketPlace.name %></h5><%= image_tag('biznes.jpg' , :class => 'icon') %> </div></a>
<% col = TpAndMarketRelation.where(m_id: params[:m_id] , tp_id: @marketPlace.id ).take
   if !col %>
<form action="<%= market_manage_add_tp_path %>?td_id=<%= @marketPlace.id %>&m_id=<%= params[:m_id]%>" class="button_to" data-remote="true" method="get">
  <div><input type="submit" value="Добавить" class="btn btn-primary"></div>
</form>
  <% else %>
    <h5>Вы добавили эту базу</h5>
  <% end %>
<a href="<%= public_tp_trade_url %>?td_id=<%= @marketPlace.id %>&m_id=<%= params[:m_id] %>">Товары торговой базы</a>