<% @categories.each do |category| %>

    <a href="<%= public_tp_trade_url%>?id=<%=category.id %>&td_id=<%= @m_id %>&m_id=<%= params[:m_id] %>"><%= category.name %></a> <br>

<% end %>




        <% @items.each do |item| %>
        <tr>
          <td><%= image_tag(item.image.url, :class => 'items_image') %></td>

          <td><%= item.name %></td>

          <td><%= item.price %></td>
          <td><%= item.currency %></td>
          <td><%= item.count %></td>
          <td><%= item.description %></td>
          <td>
            <form action="<%= orders_add_order_url %>" class="button_to" data-remote="true" method="post">
              <input type="hidden" name="tp_id" value="<%= @m_id %>"/>
              <input type="hidden" name="m_id" value="<%= params[:m_id] %>"/>
              <input type="hidden" name="item_id" value="<%= item.id %>"/>
              <div><input type="submit" value="Добавить" class="btn btn-primary"></div>
            </form>

          </td>
        </tr>

    </tr>
<% end %>