<% @categories.each do |category| %>

    <a href="<%= market_placemanage_category_manage_url%>?id=<%=category.id %>"><%= category.name %></a> <br>

<% end %>

<% @items.each do |item| %>
    <tr>
      <td><%= image_tag(item.image.url, :class => 'items_image') %></td>

      <td><%= item.name %></td>

      <td><%= item.price %></td>
      <td><%= item.currency %></td>
      <td><%= item.count %></td>
      <td><%= item.description %></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_item_path(item), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    item_path(item),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
<% end %>