<div>
  <a href="<%= items_path %>?td_id=<%= params[:td_id] %>">Управление товарами</a> <br>
  <a href="<%= categories_url %>?td_id=<%= params[:td_id] %>">Управление категориями</a> <br>
  <a href="<%= market_placemanage_courier_manage_url %>?td_id=<%= params[:td_id] %>">Управление курьерами</a> <br>
  <a href="<%= autos_url %>?td_id=<%= params[:td_id] %>">Управление автомобилями</a> <br>
  <a href="<%=  %>">Магазины</a> <br>
  <a href="<%= market_placemanage_orders_url %>?td_id=<%= params[:td_id] %>">Заказы</a> <br>
  <a href="<%= waybills_names_url %>?td_id=<%= params[:td_id] %>">Путевые листы</a> <br>
  <a href="<%= items_path %>?td_id=<%= params[:td_id] %>">Настройки</a> <br>
</div>