<ul class="nav nav-tabs">
  <li data-toggle="modal" data-target="#myModal"><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>

  <li class="active"><a href="<%= market_placemanage_orders_url %>?td_id=<%= params[:td_id] %>">Открытые </a></li>

  <li><a href="#">Закрытые </a></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Путевые листы <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu">

      <% WaybillsName.where(td_id: params[:td_id] , u_id: current_user.id).each do |p| %>
          <% if p.status == 0 %>
              <li><a href="<%= waybills_names_url %>/<%= p.id %>?td_id=<%= params[:td_id] %>"> <%= p.name %> </a> </li>
          <% end %>
      <% end %>

    </ul>

  </li>

</ul>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Новый путевой лист</h4>
      </div>
      <div class="modal-body">
        <% @waybills_name = WaybillsName.new %>
        <%= form_for @waybills_name, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="control-group">
              <%= f.label :Название, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :name, :class => 'text_field' %>
              </div>
            </div>

            <input type="hidden" value="<%= params[:td_id] %>" name="td_id">
            <div class="form-actions">
              <%= f.submit 'Создать путевой лист', :class => 'btn btn-primary' %>
            </div>
        <% end %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div id="ajax_container">
  <%- model_class = Order -%>
  <div class="page-header">
    <h1>Заказы</h1>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Торговая_база) %></th>
      <th><%= model_class.human_attribute_name(:Магазин) %></th>
      <th><%= model_class.human_attribute_name(:Название_товара) %></th>
      <th><%= model_class.human_attribute_name(:Количество) %></th>
      <th><%= model_class.human_attribute_name(:Описание) %></th>
      <th><%= model_class.human_attribute_name(:Статус) %></th>
      <th><%= model_class.human_attribute_name(:Создан) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <% if order.status != 3 %>
            <tr id="<%= order.id%>col">
              <td><%= link_to order.id, order_path(order) %></td>
              <td><%= Marketplace.find(order.mp_id).name %></td>
              <td><%= Market.find(order.c_a_r_id).name %></td>
              <td><%= Item.find(order.item_id).name %></td>
              <td><%= order.count %></td>
              <td><%= order.description %></td>
              <td><% if order.status == 0 %>
                    Не доставлен
                    <%= order.status %>
                <% else  %>
                    Доставлен
                    <%= order.status %>
                <% end %></td>
              <td><%=l order.created_at %></td>

              <td>
                <form action="<%= waybills_names_url %>/add_relation?td_id=<%= @m_id %>&order_id=<%= order.id %>" class="button_to" data-remote="false" method="post">
                  <select class="form-control" name="wayBill">
                    <% WaybillsName.where(td_id: params[:td_id] , u_id: current_user.id).each do |p| %>
                        <% if p.status == 0 %>
                          <option value="<%= p.id %>"><%= p.name %></option>
                         <% end %>
                    <% end %>
                  </select>
                  <div><input type="submit" id="<%= order.id %>" value="Добавить" onclick="document.getElementById(this.getAttribute('id')+'col').style.display='none'" class="btn btn-primary"></div>
                </form>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>


