<% if market_user_signed_in? %>

    <span>Здравствуйте, <%= current_user.email %></span>

<% else %>
    <%= stylesheet_link_tag    "bootstrap.min",  "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "signin",  "data-turbolinks-track" => true %>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Signin Template for Bootstrap</title>

      <!-- Bootstrap core CSS -->

      <!-- Custom styles for this template -->


      <!-- Just for debugging purposes. Don't actually copy this line! -->
      <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

    <div class="container">

      <form class="form-signin" role="form" action="/market_users/sign_in" method="post" id="new_user">
        <h4 class="form-signin-heading">Авторизуйтесь пожалуйста</h4>
        <input id="market_user_email" name="market_user[email]" type="email" class="form-control" placeholder="Email address" required autofocus>
        <input id="market_user_password" name="market_user[password]" type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input id="market_user_remember_me" name="market_user[remember_me]" type="checkbox" value="0"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    </body>
    </html>

    <%= link_to 'Зарегистрироваться', new_market_user_registration_path,  :class => 'btn btn-warning' %>
<% end %>
</div><!--/.nav-collapse -->