<%- model_class = Marketplace -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:u_id) %>:</strong></dt>
  <dd><%= @marketplace.u_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @marketplace.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @marketplace.status %></dd>
</dl>

<div class="form-actions">

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_marketplace_path(@marketplace), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              marketplace_path(@marketplace),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
