<a href="<%= market_manage_list_td_url %>?m_id=<%= params[:id] %>">Торговые базы</a> <br>
<a href="<%= market_manage_search_tp_url %>?m_id=<%= params[:id] %>">Поиск торговых баз</a> <br>
<a href="<%= market_manage_orders_url %>?m_id=<%= params[:id] %>">Заказы</a> <br>
<a href="<%= market_manage_settings_url %>?m_id=<%= params[:id] %>">Настройки</a> <br>