
<div class="content">
  <% if @markets.length > 0 %>
      <h3>Магазины</h3>
      <% @markets.each do |market| %>

          <a href="market?m_id=<%= market.id %>"> <div class="market_blocks"><h5 class="title"><%= market.name %> </h5><%= image_tag('market.jpg' , :class => 'icon') %> </div></a>

      <% end %>
  <% end %>
</div>
<li><a href="<%= markets_path %>">Магазин</a></li>