<%= stylesheet_link_tag    "persons",  "data-turbolinks-track" => true %>

<div class="content">
  <% if @marketPlaces.length > 0 %>
      <h1 class="page-header">Торговые площадки</h1>
      <div class="row placeholders">
        <% @marketPlaces.each do |marketPlace| %>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="<%= market_placemanage_main_url %>?td_id=<%= marketPlace.id %>"> <%= image_tag('biznes.jpg' , :class => 'img-responsive' , :alt => "Generic placeholder thumbnail") %> </a>
              <h4><%= marketPlace.name %></h4>
              <span class="text-muted"></span>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
