<%= form_for(@waybill) do |f| %>
  <% if @waybill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waybill.errors.count, "error") %> prohibited this waybill from being saved:</h2>

      <ul>
      <% @waybill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :m_id %><br>
    <%= f.number_field :m_id %>
  </div>
  <div class="field">
    <%= f.label :courier_id %><br>
    <%= f.text_field :courier_id %>
  </div>
  <div class="field">
    <%= f.label : %><br>
    <%= f.number_field : %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
