<h1>Listing waybills</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>M</th>
      <th>Courier</th>
      <th></th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @waybills.each do |waybill| %>
      <tr>
        <td><%= waybill.order_id %></td>
        <td><%= waybill.m_id %></td>
        <td><%= waybill.courier_id %></td>
        <td><%= waybill. %></td>
        <td><%= waybill.description %></td>
        <td><%= link_to 'Show', waybill %></td>
        <td><%= link_to 'Edit', edit_waybill_path(waybill) %></td>
        <td><%= link_to 'Destroy', waybill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waybill', new_waybill_path %>
