<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @waybill.order_id %>
</p>

<p>
  <strong>M:</strong>
  <%= @waybill.m_id %>
</p>

<p>
  <strong>Courier:</strong>
  <%= @waybill.courier_id %>
</p>

<p>
  <strong>:</strong>
  <%= @waybill. %>
</p>

<p>
  <strong>Description:</strong>
  <%= @waybill.description %>
</p>

<%= link_to 'Edit', edit_waybill_path(@waybill) %> |
<%= link_to 'Back', waybills_path %>
