<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :mp_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mp_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :c_a_r_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :c_a_r_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :item_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :item_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :count, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :count, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
