<%= form_for @couriers_list, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :login, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :login, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pass, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pass, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>

<input type="hidden" name="td_id" value="<%= params[:td_id] %>">
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                couriers_lists_path, :class => 'btn' %>
  </div>
<% end %>
