<%- model_class = CouriersList -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Логин) %></th>
      <th><%= model_class.human_attribute_name(:Пароль) %></th>
      <th><%= model_class.human_attribute_name(:Имя) %></th>
      <th><%= model_class.human_attribute_name(:Фамилия) %></th>
      <th><%= model_class.human_attribute_name(:Дата_создания) %></th>
      <th><%= model_class.human_attribute_name(:Привязанное_авто) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @couriers_lists.each do |couriers_list| %>
      <tr>
        <td><%= couriers_list.login %></td>
        <td><%= couriers_list.pass %></td>
        <td><%= couriers_list.name %></td>
        <td><%= couriers_list.last_name %></td>
        <td><%=l couriers_list.created_at %></td>
        <td>
          <select name="parentCat">
            <% Auto.find_all_by_td_id(user_session[:current_trading_place]).each do |p| %>
                <option value="<%= p.id %>"><%= p.number %></option>
            <% end %>
          </select>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_couriers_list_path(couriers_list), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      couriers_list_path(couriers_list),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_couriers_list_path,
            :class => 'btn btn-primary' %>
