<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Название) %></th>
      <th><%= model_class.human_attribute_name(:Категория) %></th>
      <th><%= model_class.human_attribute_name(:Цена) %></th>
      <th><%= model_class.human_attribute_name(:Валюта) %></th>
      <th><%= model_class.human_attribute_name(:Количество) %></th>
      <th><%= model_class.human_attribute_name(:Описание) %></th>
      <th><%= model_class.human_attribute_name(:Картинка) %></th>
      <th><%= model_class.human_attribute_name(:Создана) %></th>
      <th><%= model_class.human_attribute_name(:Действия) %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= Category.find(item.category_id).name %></td>
        <td><%= item.price %></td>
        <td><%= item.currency %></td>
        <td><%= item.count %></td>
        <td><%= item.description %></td>
        <td><%= image_tag(item.image.url , :style => "width : 100px; height: 100px") %></td>
        <td><%=l item.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_item_path(item)+'?td_id='+params[:td_id], :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      item_path(item),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_path+'?td_id='+params[:td_id],
            :class => 'btn btn-primary' %>
