// Place all the styles related to the market_placemanage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.items_image {
  width: 150px;
  height: 120px;
}