// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon {
  //  position: absolute;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px 1px #000;
  -webkit-box-shadow: 0px 0px 5px 1px #000;
  box-shadow: 0px 0px 5px 1px #000;
  width: 150px;
  height: 150px;
  z-index: 0;
}
.title {
  border-radius: 5px;
  color: #ffffff;
  position: absolute;
  margin-top: -0px;
  background: rgba(0 , 0 , 0 , 0.5);
  text-align: center;
  width: 150px;
  height: 150px;
  z-index: 10;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  span {
    padding-top: 30px;
  }
}
.title:hover {
  background: #fff503;
  -moz-box-shadow: 0px 0px 15px 1px #f6ee27;
  -webkit-box-shadow: 0px 0px 15px 1px #f6ee27;
  box-shadow: 0px 0px 15px 1px #f6ee27;
  opacity: 0.7;
}

.market_blocks {

  float: left;
  margin-left: 20px;
}
.content {
  margin: 40px;
  float: left;
}