<%= form_for @category, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :Назваие, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Родительская_Категория, :class => 'control-label' %>
    <div class="controls">
      <select name="parentCat">
        <option value="0">Главная</option>
        <% Category.find_all_by_m_id(user_session[:current_trading_place]).each do |p| %>
        <option value="<%= p.id %>"><%= p.name %></option>
        <% end %>
      </select>
    </div>
  </div>

    <input type="hidden" name="td_id" value="<%= params[:td_id] %>">
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                categories_path, :class => 'btn' %>
  </div>
<% end %>
