<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Shopmanager" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-theme.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "dashboard.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag    "jquery.js", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag    "html5shiv.js", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag    "bootstrap.min.js", media: "all", "data-turbolinks-track" => true %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <![endif]-->



  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

</head>


<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

<title>Dashboard Template for Bootstrap</title>

<!-- Bootstrap core CSS -->


<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="navbar-collapse collapse">
      <a class="navbar-brand" href="<%= market_placemanage_main_url %>?td_id=<%= params[:td_id] %>">
        <% if user_session
             if params[:td_id] %>
                <%= Marketplace.find(params[:td_id]).name %>
            <% end
               end %>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <% if user_session %>

            <li><a href="<%= persons_profile_url %>">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>


            <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>

        <% end %>
        <% if market_user_session %>

            <li><a href="<%= persons_market_profile_url %>">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>


            <li><%= link_to 'Выйти', destroy_market_user_session_path, :method => :delete %></li>

        <% end %>
      </ul>
      <% if current_market_user && params[:m_id] %>
      <form method="GET" action="<%= market_manage_search_tp_url %>" class="navbar-form navbar-right">
        <input type="hidden" name="m_id" value="<%= params[:m_id] %>">
        <input type="text" name="name" class="form-control" placeholder="Search...">
      </form>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <% if current_user
           if params[:td_id] %>
              <ul class="nav nav-sidebar">
                <li class="<%= controller_name == 'items' ? 'active' : '' %>"><a href="<%= items_path %>?td_id=<%= params[:td_id] %>">Управление товарами</a> <br></li>
                <li class="<%= controller_name == 'categories' ? 'active' : '' %>"><a href="<%= categories_url %>?td_id=<%= params[:td_id] %>">Управление категориями</a> </li>
                <li class="<%= (controller_name == 'market_placemanage' && action_name == 'courier_manage') || controller_name== 'couriers_lists'? 'active' : '' %>"><a href="<%= market_placemanage_courier_manage_url %>?td_id=<%= params[:td_id] %>">Управление курьерами</a></li>
                <li class="<%= controller_name == 'autos' ? 'active' : '' %>"><a href="<%= autos_url %>?td_id=<%= params[:td_id] %>">Управление автомобилями</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="<%=  %>">Магазины</a></li>
                <li class="<%= (controller_name == 'market_placemanage' && action_name == 'orders')? 'active' : '' %>"><a href="<%= market_placemanage_orders_url %>?td_id=<%= params[:td_id] %>">Заказы</a></li>
                <li class="<%= controller_name == 'waybills_names' ? 'active' : '' %>"><a href="<%= waybills_names_url %>?td_id=<%= params[:td_id] %>">Путевые листы</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li class="<%= (controller_name == 'market_placemanage' && action_name == 'settings')? 'active' : '' %>"><a href="<%= market_placemanage_settings_url %>?td_id=<%= params[:td_id] %>">Настройки</a></li>
              </ul>
          <% end
             end %>
      <% if current_market_user
           if params[:m_id] %>
              <ul class="nav nav-sidebar">
                <li class="<%= action_name == 'list_td' ? 'active' : '' %>"><a href="<%= market_manage_list_td_url %>?m_id=<%= params[:m_id] %>">Торговые базы</a> <br></li>
                <li class="<%= action_name == 'search_tp' ? 'active' : '' %>"><a href="<%= market_manage_search_tp_url %>?m_id=<%= params[:m_id] %>">Поиск торговых баз</a>  </li>
                <li class="<%= (controller_name == 'market_manage' && action_name == 'orders') || controller_name== 'couriers_lists'? 'active' : '' %>"><a href="<%= market_manage_orders_url %>?m_id=<%= params[:m_id] %>">Заказы</a> </li>
              </ul>

              <ul class="nav nav-sidebar">
                <li class="<%= (controller_name == 'market_manage' && action_name == 'settings')? 'active' : '' %>"><a href="<%= market_manage_settings_url %>?m_id=<%= params[:m_id] %>">Настройки</a></li>
              </ul>
          <% end
             end %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <%= yield %>

    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->

</body>


</html>
